<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CLASH.GG</title>
</head>
<body th:fragment="header">
	<header>
		<a href="/" class="titleName">CLASH.GG</a>
		<form class="team_search_form" th:action="@{/team_search}" th:object="${teamSearchForm}">
			<select class="h-27" th:field="*{roleCode}">
				<option th:value="0" th:text="any"></option>
				<option th:each="role : ${T(com.crecruit.enumclass.Role).values()}"
					th:value="${role.getRoleCode()}" th:text="${role.roleName}">ロール名</option>
			</select><select class="h-27" th:field="*{rankCode}">
				<option th:value="0" th:text="any"></option>
				<option th:each="rank : ${T(com.crecruit.enumclass.Rank).values()}"
					th:value="${rank.getRankCode()}" th:text="${rank.rankName}">ランク表示</option>
			</select><button class="search_button" type="submit">
				<img class="h-18" src="/img/search_icon.svg">
			</button>
			<input type="text" class="team_name_input_for_search" th:field="*{teamName}" maxlength="40"
			placeholder="チーム名での検索はこちら">
		</form>
		<form class="center" th:action="@{/open_team_register}">
			<button class="to_register_page_button">メンバーを募集する</button>
		</form>
	</header>

</body>
</html>
