<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CLASH.GG</title>
</head>
<body th:fragment="paginationbar">
	<ul class="center padding-l-0">
		<li th:class="inline">
			<span th:if="${page.first}">&lt;&lt;</span>
			<a th:if="${not page.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
		</li>
		<li th:class="inline">
			<span th:if="${page.first}">&lt;</span>
			<a th:if="${not page.first}" th:href="@{${url}(page=${page.number-1})}">&lt;</a>
		</li>
		<li th:if="${page.totalPages <= 10}" th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="inline">
			<span th:if='${i}==${page.number}' th:text='${i+1}'></span>
			<a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
				<span th:text='${i+1}'></span>
			</a>
		</li>
		<li th:class="inline">
			<span th:if="${page.last}">&gt;</span>
			<a th:if="${not page.last}" th:href="@{${url}(page=${page.number+1})}">&gt;</a>
		</li>
		<li th:class="inline">
			<span th:if="${page.last}">&gt;&gt;</span>
			<a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">&gt;&gt;</a>
		</li>
	</ul>
</body>
</html>
