/*ヘッダー*/
header {
	background: #3D3D42;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.search_button {
	position: relative;
	top: 3px;
}

.to_register_page_button {
	margin-bottom: 10px;
	background: #B7F4BD;
	border-radius: 9px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

.titleName {
	display: block;
	position: relative;
	font-family: Source Code Pro;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	color: #EDEDF4;
}

.team_search_form {
	text-align: center;
	margin-bottom: 10px;
}

/*フッター*/
footer {
	margin-top: 50px;
	background: #EDEDF4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 100px;
}

.copylight {
	display: block;
	text-align: center;
	line-height: 100px;
	font-size: 14px;
	text-align: center;
}

/*topページ*/
.team_card {
	height: auto;
	min-height: 230px;
	width: 315px;
	background: #eedff9;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 23px;
	margin: 0 50px 20px;
	float: left;
}

.card_is_first {
	clear: left;
}

.container {
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.card_title {
	position: relative;
	height: 54px;
	width: 315px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-family: Source Code Pro;
	font-size: 18px;
	line-height: 54px;
	text-align: center;
}

.card_title_link {
	color: #EDEDF4;
}

.recruited_role {
	position: relative;
	top: 4px;
	left: 17px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	background: #E6A162;
	border-radius: 5px;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
}

.min_rank {
	position: relative;
	top: 6px;
	left: 17px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
}

.max_rank {
	position: relative;
	top: 6px;
	left: 17px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	margin-left: 9px;
	margin-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.summoner {
	position: relative;
	top: 7px;
	text-align: center;
	margin-top: 3px;
}

.summoner_role {
	vertical-align: super;
	font-family: Source Code Pro;
	font-size: 6.5px;
	line-height: 8px;
	color: #000000;
}

.summoner_rank {
	position: relative;
	left: 19px;
}

.team_introduction {
	position: relative;
	height: auto;
	width: 276px;
	margin: auto;
	background: #FFFFFF;
}

.team_introductionContent {
	position: relative;
	width: 256px;
	min-height: 70px;
	height: auto;
	font-size: 12px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	word-break: break-all;
	margin-bottom: 20px;
}

/*メンバー募集ページ*/
/*チーム情報編集ページ*/
.team_create_form {
	position: relative;
	margin: auto;
	width: 640px;
	background: #EDEDF4;
	border-radius: 11px;
}

.team_create_form_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

.column_title {
	display: inline-block;
	width: 150px;
	font-size: 14px;
	text-align: right;
	vertical-align: top;
	margin-right: 20px;
}

.column_caution {
	display: inline-block;
	font-size: 10px;
	margin-left: 80px;
}

.team_create_row {
	margin-top: 25px;
}

.team_create_summoner_row {
	margin-top: 10px;
}

.team_name_input {
	width: 250px;
	vertical-align: top;
}

.summoner_name_input {
	width: 170px;
	vertical-align: top;
}

.role_pulldown {
	margin-left: 60px;
	vertical-align: top;
}

.rank_pulldown {
	margin-left: 4px;
	vertical-align: top;
}

.team_intro_textarea {
	height: 200px;
	width: 390px;
	vertical-align: top;
}

.password_input {
	vertical-align: top;
}

.register_button {
	background: #B7F4BD;
	border-radius: 9px;
	border: none;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	width: 80px;
	height: 30px;
	margin-top: 65px;
	margin-left: 460px;
	margin-bottom: 40px;
}

/*チーム詳細ページ*/
.team_detail_form {
	position: relative;
	margin: auto;
	width: 640px;
	background: #EDEDF4;
	border-radius: 11px;
}

.team_detail_form_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

.detail_column_title {
	display: inline-block;
	width: 150px;
	font-size: 14px;
	text-align: right;
	margin-right: 20px;
}

.detail_team_name {
	width: 250px;
	font-size: 20px;
	font-weight: bold;
}

.summoner_table {
	border-spacing: 2px 10px;
}

.detail_summoner_name {
	width: 220px;
}

.detail_summoner_role {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	background: #E6A162;
	border-radius: 5px;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.detail_summoner_rank {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	font-size: 12px;
	color: #EDEDF4;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 10px;
}

.detail_team_introduction {
	display: inline-block;
	height: auto;
	min-height: 200px;
	width: 390px;
	background-color: #ffffff;
	margin-top: 0px;
	padding: 10px;
	word-break: break-all;
	padding: 10px;
}

.edit_button {
	background: #ffd700;
	border-radius: 9px;
	border: none;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	width: 80px;
	height: 30px;
	margin-top: 65px;
	margin-left: 460px;
	margin-bottom: 40px;
}

/*共通部品*/
.message_error {
	width: 500px;
	height: 30px;
	line-height: 30px;
	margin: auto;
	margin-bottom: 30px;
	padding-left: 10px;
	vertical-align: center;
	background-color: rgb(255 98 98/ 25%);
	border-radius: 5px;
}

body {
	margin: 0px;
	background: #E5E5E5;
}

a {
	text-decoration: none;
}

a:hover {
	color: #70696b;
}

p {
	white-space: pre-wrap;
}

.h-18 {
	height: 18px;
}

.h-27 {
	height: 27px;
}

.w-400 {
	width: 400px;
}

.margin-l-5 {
	margin-left: 5px;
}

.margin-t-15 {
	margin-top: 15px;
}

.margin-t-20 {
	margin-top: 20px;
}

.margin-t-25 {
	margin-top: 25px;
}

.fs-12 {
	font-size: 12px;
}

.center {
	text-align: center;
}

.va-top {
	vertical-align: top;
}

/*カラー*/
.iron {
	background: #70696b
}

.bronze {
	background: #8e4d30;
}

.silver {
	background: #c9caca;
}

.gold {
	background: #ffd700;
}

.platinum {
	background: #21acbc;
}

.diamond {
	background: #8cabe7;
}

.master {
	background: #e326ee;
}

.grandmaster {
	background: #fb2f32;
}

.challenger {
	background: #fcedd3;
}

.red {
	color: #ea4024;
}