/*ヘッダー*/
header {
	background: #3D3D42;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.titleName {
	display: block;
	position: relative;
	font-family: Source Code Pro;
	font-size: 40px;
	margin-top: 0px;
	text-align: center;
	color: #EDEDF4;
}

.site_intro{
    width: 600px;
    font-size: 13px;
    color: #EDEDF4;
	border-style: dashed;
    border-width: thin;
    border-radius: 10px;
    border-color: #EDEDF4;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.search_button {
	position: relative;
	top: 3px;
}

.to_register_page_button {
	margin-bottom: 10px;
	background: #B7F4BD;
	border-radius: 9px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}


.team_search_form {
	text-align: center;
	margin-bottom: 10px;
}

.team_name_input_for_search {
	display: block;
	width: 217px;
	margin-left: auto;
	margin-right: auto;
}

/*フッター*/
footer {
	margin-top: 50px;
	background: #EDEDF4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: auto;
}

.footer_menu {
	padding-top: 20px;
	margin-left: 85px;
	font-size: 13px;
}

.about_site_link {
	color: blue;
}

.copylight {
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	border-top: dotted 2px #3D3D42;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

/*topページ*/
.team_card {
	height: auto;
	min-height: 230px;
	width: 315px;
	background: #f3e9e9;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 23px;
	margin: 0 50px 20px;
	float: left;
}

.card_is_first {
	clear: left;
}

.container {
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.card_title {
	position: relative;
	height: 54px;
	width: 315px;
	background: #3D3D42;
	color: #EDEDF4;
	border-radius: 23px 23px 0px 0px;
	font-family: Source Code Pro;
	font-size: 18px;
	line-height: 54px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card_title_link {
	color: #EDEDF4;
}

.recruited_condition {
	background-color: #e4d6d6;
	padding-bottom: 10px;
}

.recruited_title {
	font-size: 10px;
	margin-left: 9px;
	text-decoration: underline;
}

.rank_row {

}

.min_rank {
	position: relative;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
	margin-left: 13px;
}

.recruited_rank_from {
	font-size: 14px;
}

.max_rank {
	position: relative;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
}

.role_row {
	margin-top: 6px;
	margin-left: 13px;
}

.recruited_role {
	position: relative;
	background: #E6A162;
	font-family: Source Code Pro;
	font-size: 12px;
	color: #000000;
}

.summoner_table {
	margin: auto;
}

.summoner_name {
	display: block;
	width: 140px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 2px;
}

.summoner_rank {
	font-size: 12px;
	margin-left: 5px;
}

.summoner_role {
	width: 22px;
	font-size: 12px;
	background: #E6A162;
	font-size: 12px;
}

.team_introduction {
	position: relative;
	height: auto;
	width: 276px;
	margin: auto;
	background: #FFFFFF;
}

.team_introductionContent {
	position: relative;
	width: 256px;
	min-height: 70px;
	height: auto;
	font-size: 12px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	margin: auto;
	word-break: break-all;
}

.updatedAt_block {
	text-align: right;
	margin: 5px;
}

.updatedAt_text {
	font-size: 12px;
	color: #70696b;
	margin-right: 10px;
	padding: 3px;
}

/*メンバー募集ページ*/
/*チーム情報編集ページ*/
.team_create_form {
	position: relative;
	margin: auto;
	width: 640px;
	background: #EDEDF4;
	border-radius: 11px;
}

.team_create_form_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

.column_title {
	display: inline-block;
	width: 150px;
	font-size: 14px;
	text-align: right;
	vertical-align: top;
	margin-right: 20px;
}

.column_caution {
	display: inline-block;
	font-size: 10px;
	margin-left: 80px;
}

.team_create_row {
	margin-top: 25px;
}

.team_create_summoner_row {
	margin-top: 10px;
}

.team_name_input {
	width: 250px;
	vertical-align: top;
}

.summoner_name_input {
	width: 170px;
	vertical-align: top;
}

.role_pulldown {
	margin-left: 60px;
	vertical-align: top;
}

.rank_pulldown {
	margin-left: 4px;
	vertical-align: top;
}

.team_intro_textarea {
	height: 200px;
	width: 390px;
	vertical-align: top;
}

.password_input {
	vertical-align: top;
}

.register_button {
	background: #B7F4BD;
	border-radius: 9px;
	border: none;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	width: 80px;
	height: 30px;
	margin-top: 65px;
	margin-left: 460px;
	margin-bottom: 40px;
}

/*チーム詳細ページ*/
.team_detail_form {
	position: relative;
	margin: auto;
	width: 640px;
	background: #EDEDF4;
	border-radius: 11px;
}

.team_detail_form_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

.detail_column_title {
	display: inline-block;
	width: 150px;
	font-size: 14px;
	text-align: right;
	margin-right: 20px;
}

.detail_team_name {
	display: inline-flex;
	overflow-wrap: anywhere;
	width: 380px;
	font-size: 20px;
	font-weight: bold;
}

.detail_summoner_table {
	border-spacing: 2px 10px;
}

.detail_summoner_name {
	overflow-wrap: anywhere;
	width: 220px;
}

.detail_summoner_role {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	background: #E6A162;
	border-radius: 5px;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.detail_summoner_rank {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	font-size: 12px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.detail_team_introduction {
	display: inline-block;
	height: auto;
	min-height: 200px;
	width: 390px;
	background-color: #ffffff;
	margin-top: 0px;
	padding: 10px;
	word-break: break-all;
	padding: 10px;
}

.edit_button_area {
	padding-top: 65px;
	padding-bottom: 40px;
	margin-left: 430px;
}

.edit_button {
	background: #ffd700;
	border-radius: 9px;
	border: none;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	width: 80px;
	height: 30px;
}

.delete_button {
	background: #f18383;
	border-radius: 9px;
	border: none;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	width: 80px;
	height: 30px;
	margin-left: 10px;
}

/*このサイトについてページ*/
.about_site_form {
	position: relative;
	margin: auto;
	width: 640px;
	height: auto;
	background: #EDEDF4;
	border-radius: 11px;
}

.about_site_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

/*エラーページ*/
.error_form {
	position: relative;
	margin: auto;
	width: 640px;
	height: 650px;
	background: #EDEDF4;
	border-radius: 11px;
}

.error_title {
	height: 40px;
	background: #3D3D42;
	border-radius: 23px 23px 0px 0px;
	font-size: 24px;
	color: #EDEDF4;
	text-align: center;
	line-height: 40px;
}

/*共通部品*/
.message_error {
	width: 500px;
	height: auto;
	line-height: 30px;
	margin: auto;
	margin-bottom: 30px;
	padding-left: 10px;
	vertical-align: center;
	background-color: rgb(255 98 98/ 25%);
	border-radius: 5px;
}

.message_success {
	width: 500px;
	height: auto;
	line-height: 30px;
	margin: auto;
	margin-bottom: 30px;
	padding-left: 10px;
	vertical-align: center;
	background-color: rgb(96 236 139/ 25%);
	border-radius: 5px;
}

.tag {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

body {
	margin: 0px;
	background: #E5E5E5;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #70696b;
}

p {
	white-space: pre-wrap;
}

button:hover {
	background-color: #a9a9a9;
}

button, button::before, button::after {
	transition: all .3s;
}

/*ボタンホバーをほかにも適用できるように一般化*/
.button_hover:hover {
	background-color: #a9a9a9;
}

.button_hover, .button_hover::before, .button_hover::after {
	transition: all .3s;
}

.inline {
	display: inline;
}

.h-18 {
	height: 18px;
}

.h-27 {
	height: 27px;
}

.w-400 {
	width: 400px;
}

.margin-l-5 {
	margin-left: 5px;
}

.margin-l-10 {
	margin-left: 10px;
}

.margin-l-20 {
	margin-left: 20px;
}

.margin-r-20 {
	margin-right: 20px
}

.margin-t-10 {
	margin-top: 10px;
}

.margin-t-15 {
	margin-top: 15px;
}

.margin-t-20 {
	margin-top: 20px;
}

.margin-t-25 {
	margin-top: 25px;
}

.margin-b-25 {
	margin-bottom: 25px;
}

.padding-l-0 {
	padding-left: 0px;
}

.padding-b-25 {
	padding-bottom: 25px;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.center {
	text-align: center;
}

.va-top {
	vertical-align: top;
}

/*カラー*/
.iron {
	background: #70696b
}

.bronze {
	background: #8e4d30;
}

.silver {
	background: #c9caca;
}

.gold {
	background: #ffd700;
}

.platinum {
	background: #21acbc;
}

.diamond {
	background: #8cabe7;
}

.master {
	background: #e326ee;
}

.grandmaster {
	background: #fb2f32;
}

.challenger {
	background: #fcedd3;
}

.red {
	color: #ea4024;
}