<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crashメンバー募集</title>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<form th:action="team_create" th:object="${team}">
		<table>
			<tr>
				<td>チーム名</td>
				<td><input type="text" th:field="*{teamName}"></input></td>
			</tr>
			<tbody th:object=${member}>
				<tr>
					<td>サモナーネーム(リーダー)</td>
					<td><input type="text" th:field="*{summonerName}" required></td>
				</tr>
				<tr>
					<td>希望ロール</td>
					<td><select th:field="*{roleCode1}">
							<option
								th:each="role : ${T(com.crecruit.enumclass.Role).values()}"
								th:value="${role.getRoleCode()}" th:text="${role.roleName}">ロール名</option>
					</select></td>
					<td><select th:field="*{roleCode2}">
							<option
								th:each="role : ${T(com.crecruit.enumclass.Role).values()}"
								th:value="${role.roleCode}" th:text="${role.roleName}">ロール名</option>
					</select></td>
				</tr>
				<tr>
					<td>アドレス</td>
					<td><input type="text" th:field="*{infoAddress}"></td>
				</tr>
			</tbody>
			<tr>
				<td>チーム紹介文</td>
				<td><textarea th:field="*{teamIntroduction}"></textarea></td>
			</tr>
			<tr>
				<td>チーム内共有メモ（チーム詳細画面に入れるメンバーのみ見ることができます）</td>
				<td><textarea th:field="*{teamMemo}"></textarea></td>
			</tr>
			<tr>
				<td>パスワード（このパスワードでチーム詳細画面へのアクセスを制限します）</td>
				<td><input type="text" th:field="*{password}"></input></td>
			</tr>
		</table>
		<button type="submit">メンバーを募集する</button>
	</form>
</body>
</html>