<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/common.css">
<meta charset="UTF-8">
	<title>Crash募集</title>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<br><br>
	<div class="grid">
		<div class="team_card"th:each="team:${teamList}">
			<div class="card_title" th:text="${team.teamName}"></div>
			<div class="min_rank silver" th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.getMinRank())}"></div>
			<div class="max_rank gold" th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.getMaxRank())}"></div><br>
			<div class="recruited_role" th:if="${team.getRecruitedRole1() != null}"
			th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(team.getRecruitedRole1())}"></div>
			<div class="recruited_role" th:if="${team.getRecruitedRole2() != null}"
			th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(team.getRecruitedRole2())}"></div>
			<div class="recruited_role" th:if="${team.getRecruitedRole3() != null}"
			th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(team.getRecruitedRole3())}"></div>
			<div class="recruited_role" th:if="${team.getRecruitedRole4() != null}"
			th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(team.getRecruitedRole4())}"></div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="team_introduction">
				<span class="team_introductionContent" th:text="${team.teamIntroduction}"></span>
			</div>
		</div>
	</div>
</body>
</html>