<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/common.css">
<meta charset="UTF-8">
	<title>Crash募集</title>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<br><br>
	<div class="grid">
		<div class="team_card"th:each="team:${teamList}">
			<div class="card_title" th:text="${team.teamName}"></div>
			<div class="min_rank silver" th:text="Silver1"></div>
			<div class="max_rank gold" th:text="Gold2"></div><br>
			<div class="recruited_role" th:text="Top"></div>
			<div class="recruited_role" th:text="Mid"></div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="member">
				<span class="member_role" th:text="top"></span><span class="member_name" th:text="jon"></span>
				<span class="member_rank" th:text="gold1"></span>
			</div>
			<div class="team_introduction">
				<span class="team_introductionContent" th:text="${team.teamIntroduction}"></span>
			</div>
		</div>
	</div>
	<div>
	    <ul>
	        <li>
	            <span th:if="${page.first}">←先頭</span>
	            <a th:if="${not page.first}" th:href="@{${url}(page=0)}">←先頭</a>
	        </li>
	        <li th:each="i : ${#numbers.sequence(0, page.totalPages-1)}">
	            <span th:if="${i}==${page.number}" th:text="${i+1}">1</span>
	            <a th:if="${i}!=${page.number}" th:href="@{${url}(page=${i})}">
	                <span th:text="${i+1}">1</span>
	            </a>
	        </li>
	        <li>
	            <span th:if="${page.last}">末尾➝</span>
	            <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末尾➝</a>
	        </li>
	    </ul>
	</div>
</body>
</html>