<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/common.css">
	<meta charset="UTF-8">
	<title>Clashチーム情報</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZN45468555"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-ZN45468555');
	</script>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<br><br>
	<div th:if="${messageText.messageType.equals('error')}" class="message_error" th:text="*{messageText.textContent}" ></div>
	<div th:if="${messageText.messageType.equals('success')}" class="message_success" th:text="*{messageText.textContent}" ></div>
	<div class="team_detail_form" th:object="${team}">
		<div class="team_detail_form_title">チーム情報</div>
		<div class="margin-t-25">
			<label class="detail_column_title">チーム名</label>
			<span class="detail_team_name" th:text="*{teamName}"></span>
		</div>
		<table class="margin-t-15 detail_summoner_table">
			<tr th:each="summoner, stat:${team.summonerList}">
				<td th:if="${stat.index}==0">
					<label class="detail_column_title">サモナーネーム</label>
				</td>
				<td th:if="${stat.index}!=0" class="margin-t-20">
					<label class="detail_column_title"></label>
				</td>
				<td class="detail_summoner_name" th:text="*{summonerList[__${stat.index}__].summonerName}"></td>
				<td class="detail_summoner_role" th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(summoner.roleCode1)}"></td>
				<td class="detail_summoner_rank margin-l-10" th:id="'detail_summoner_rank' + ${stat.index}"
					th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(summoner.rankCode)}"></td>
		</table>
		<div class="team_create_row">
			<label class="column_title">募集ランク帯</label>
			<span class="detail_summoner_rank va-top" id="min_rank" th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.minRank)}"></span>
			<span class="margin-l-5 fs-12 va-top">から</span>
			<span class="detail_summoner_rank va-top" id="max_rank" th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.maxRank)}"></span>
			<span class="margin-l-5 fs-12 va-top">まで</span>
		</div>
		<div class="team_create_row">
			<label class="column_title">募集ロール</label>
			<span th:if="*{isRecruitedTop==1}" class="margin-l-5 fs-12 va-top">Top</span>
			<span th:if="*{isRecruitedJG==1}" class="margin-l-5 fs-12 va-top">JG</span>
			<span th:if="*{isRecruitedMid==1}" class="margin-l-5 fs-12 va-top">Mid</span>
			<span th:if="*{isRecruitedBot==1}" class="margin-l-5 fs-12 va-top">Bot</span>
			<span th:if="*{isRecruitedSup==1}" class="margin-l-5 fs-12 va-top">Sup</span>
		</div>
		<div class="team_create_row">
			<label class="column_title">チーム紹介文</label>
			<p class="detail_team_introduction fs-12" th:text="*{teamIntroduction}"></p>
		</div>
		<form method="post" th:action="@{/open_team_edit}" th:object="${passwordForm}">
			<div class="team_create_row">
				<label class="column_title">パスワード</label>
				<input class="password_input" type="password" th:field="*{password}">
				<input type="hidden" th:field="*{teamId}">
			</div>
			<div class="column_caution red">※チーム情報を編集、削除する場合はこちらに入力してから下部ボタン押下してください</div>
			<div class="edit_button_area">
				<input class="edit_button button_hover" type="submit" name="update" value="編集">
				<input class="delete_button button_hover" onclick="return alertDelete();" type="submit" name="delete" value="削除">
			</div>
		</form>
	</div>
	<div th:replace="common/footer :: footer"></div>
<script src="/js/team_detail.js"></script>
</body>
</html>