<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/common.css">
<meta charset="UTF-8">
	<title>Clash募集</title>
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<br><br>
	<div th:if="${messageText.messageType.equals('error')}" class="message_error" th:text="*{messageText.textContent}" ></div>
	<div th:if="${messageText.messageType.equals('success')}" class="message_success" th:text="*{messageText.textContent}" ></div>
	<div class="container">
		<div class="team_card" th:classappend="${teamStat.index % 2 == 0} ? 'card_is_first'" th:each="team, teamStat:${teamList}">
			<div class="card_title">
				<a class="card_title_link" th:href="@{/team_detail/__${team.teamId}__}" th:text="${team.teamName}"></a>
			</div>
			<div class="recruited_condition">
				<span class="recruited_title">募集対象</span>
				<div class="rank_row">
					<div class="min_rank tag" th:id="'minRank' + ${teamStat.index}"
						th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.getMinRank())}"></div>
					<span class="recruited_rank_from">〜</span>
					<div class="max_rank tag" th:id="'maxRank' + ${teamStat.index}"
						th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(team.getMaxRank())}"></div>
				</div>
				<div class="role_row">
					<div class="recruited_role tag" th:if="${team.getIsRecruitedTop() == 1}"
					th:text="${T(com.crecruit.enumclass.Role).TOP.getRoleName()}"></div>
					<div class="recruited_role tag" th:if="${team.getIsRecruitedJG() == 1}"
					th:text="${T(com.crecruit.enumclass.Role).JG.getRoleName()}"></div>
					<div class="recruited_role tag" th:if="${team.getIsRecruitedMid() == 1}"
					th:text="${T(com.crecruit.enumclass.Role).MID.getRoleName()}"></div>
					<div class="recruited_role tag" th:if="${team.getIsRecruitedBot() == 1}"
					th:text="${T(com.crecruit.enumclass.Role).BOT.getRoleName()}"></div>
					<div class="recruited_role tag" th:if="${team.getIsRecruitedSup() == 1}"
					th:text="${T(com.crecruit.enumclass.Role).SUP.getRoleName()}"></div>
				</div>
			</div>
			<table class="summoner_table margin-t-10">
				<tr th:each="summoner, summonerStat:${team.summonerList}">
					<td>
						<span class="summoner_name" th:text="${summoner.summonerName}"></span>
					</td>
					<td class="summoner_role tag"
					th:text="${T(com.crecruit.enumclass.Role).getRoleNameByRoleCode(summoner.roleCode1)}"></td>
					<td class="summoner_rank tag" th:id="'summonerRank' + ${teamStat.index} + 'and' + ${summonerStat.index}"
					th:text="${T(com.crecruit.enumclass.Rank).getRankNameByRankCode(summoner.rankCode)}"></td>
				</tr>
			</table>
			<div class="team_introduction margin-t-10">
				<p class="team_introductionContent" th:text="${team.teamIntroduction}"></p>
			</div>
			<div class="updatedAt_block">
				<span class="updatedAt_text" th:text="${#temporals.format(team.updatedAt, 'yyyy/M/d H時m分更新')}"></span>
			</div>
		</div>
	</div>
	<div th:replace="common/paginationbar :: paginationbar"></div>
	<div th:replace="common/footer :: footer"></div>
<script src="/js/team_search.js"></script>
</body>
</html>