<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crashメンバー募集</title>
</head>
<body>
<form>
<table>
	<tr>
		<td>チーム名</td>
		<td><input type="text"></input></td>
	</tr>
	<tr>
		<td>メンバー</td>
		<td><input type="text"></input></td>
	</tr>
	<tr>
		<td>チーム紹介文</td>
		<td><textarea></textarea>></td>
	</tr>
	<tr>
		<td>チーム内共有メモ（チーム詳細画面に入れるメンバーのみ見ることができます）</td>
		<td><textarea></textarea>></td>
	</tr>
	<tr>
		<td>パスワード（このパスワードでチーム詳細画面へのアクセスを制限します）</td>
		<td><input type="text"></input></td>
	</tr>
</table>

	<button>メンバーを募集する</button>
</form>
</body>
</html>